<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/login">Bharat Sarkar</a>
    </div>
    <ul class="nav navbar-nav">

      <li ><a routerLink="/approver/pending">Pending</a></li>
      <li><a routerLink="/approver/accepted">Accepted</a></li>
     
      <li><a routerLink="/approver/declined">Declined</a></li>
      <li (click)='logout()'>Logout</li>
      <!-- <li id="logout" style="color:white; margin-top:15px">Logout</li> -->
    </ul>
  </div>
</nav>
