<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/dashboard">Bharat Sarkar</a>
    </div>
    <ul class="nav navbar-nav">

      <li ><a routerLink="/dashboard">House Listing</a></li>
      <li><a routerLink="/dashboard/registermembers">National Population Register</a></li>
     
     
      <li (click)='logout()'>Logout</li>
      <!-- <li id="logout" style="color:white; margin-top:15px">Logout</li> -->
    </ul>
  </div>
</nav>
